#This is bla.config
#If you change something, don't forget the "="
#
#boundary_conditions:
#1) periodic
#2) noflux
#3) zero
#
#models:
#1) br (Beeler-Reuter)
#2) fhn (FitzHugh-nagumo)
#3) fk (Fenton-Karma) 
#4) hh (Hodgkin-Huxley) 
#5) ka (Karma) 
#6) mm_* (Minimal Model |epi|endo|m) 
#7) ore (Oregonator)
#8) heat (Heat Equation)
#9) tws (Minimal Model Epi Travelling Wave Solution)
#Sun Nov 04 21:05:29 GMT+01:00 2007
# Konfiguration üfr das Minimale Modell
#model=mm_epi
#duration=0.0
#width=10
#strength=0.54
#threshold=0.1

# Konfiguration für das Fenton-Karma-Modell
#model=fk
#duration=0.0
#width=5
#strength=0.54
#threshold=0.1

# Konfiguration für das FitzHug-Nagumo Modell
model=fhn
duration=0.0
width=1
strength=2
threshold=0.1

# Konfiguration für das Beeler-Reuter-Modell
#model=br
#width=6
#strength=40.0
#threshold=-60.0

# parameters for restitution curves
di_end=1000
di_start=300
stepsize=20
epsilon=1.0

# parameters for BCL Protocol, if s1 = 0, s2 = 1 => Dynamic Protocol
s1=20
s2=2

# parameters for ring
cycles=5

# parameters for 2d simulation
show_step=1000
gridstep=5

period=307
frames=5
dim_start=400
show_extrema=true
show_scales=true
autoscale=true
steps=10000000
bcl=1000
load=m_ring.obj

